In [24]:
import pandas as pd
import numpy as np
from sklearn.metrics import classification_report
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [ ]:
ohe = OneHotEncoder(drop = 'first',sparse_output = False).set_output(transform = 'pandas')
x_train_ohe = ohe.fit_transform(x_train)
x_test_ohe = ohe.transform(x_test)
nb = BernoulliNB()
nb.fit(x_train_ohe,y_train)
y_pred = nb.predict(x_test_ohe)

# Discrete Naive Bayes

### Cancer

In [3]:
data = pd.read_csv(r"D:\Cases\Cancer\Cancer.csv")

In [4]:
data

,subjid,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat,Class
0,1,40-49,premeno,15 to 19,0 to 2,yes,three,right,left_up,no,recurrence-events
1,2,50-59,ge40,15 to 19,0 to 2,no,one,right,central,no,no-recurrence-events
2,3,50-59,ge40,35 to 39,0 to 2,no,two,left,left_low,no,recurrence-events
3,4,40-49,premeno,35 to 39,0 to 2,yes,three,right,left_low,yes,no-recurrence-events
4,5,40-49,premeno,30 to 34,3 to 5,yes,two,left,right_up,no,recurrence-events
...,...,...,...,...,...,...,...,...,...,...,...
281,282,50-59,ge40,30 to 34,6 to 8,yes,two,left,left_low,no,no-recurrence-events
282,283,50-59,premeno,25 to 29,3 to 5,yes,two,left,left_low,yes,no-recurrence-events
283,284,30-39,premeno,30 to 34,6 to 8,yes,two,right,right_up,no,no-recurrence-events
284,285,50-59,premeno,15 to 19,0 to 2,no,two,right,left_low,no,no-recurrence-events
285,286,50-59,ge40,40 to 44,0 to 2,no,three,left,right_up,no,no-recurrence-events

In [6]:
data = data.drop('subjid',axis = 1)

In [9]:
data.count()

age            286
menopause      286
tumor-size     286
inv-nodes      286
node-caps      278
deg-malig      286
breast         286
breast-quad    285
irradiat       286
Class          286
dtype: int64

In [10]:
data.dropna()

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat,Class
0,40-49,premeno,15 to 19,0 to 2,yes,three,right,left_up,no,recurrence-events
1,50-59,ge40,15 to 19,0 to 2,no,one,right,central,no,no-recurrence-events
2,50-59,ge40,35 to 39,0 to 2,no,two,left,left_low,no,recurrence-events
3,40-49,premeno,35 to 39,0 to 2,yes,three,right,left_low,yes,no-recurrence-events
4,40-49,premeno,30 to 34,3 to 5,yes,two,left,right_up,no,recurrence-events
...,...,...,...,...,...,...,...,...,...,...
281,50-59,ge40,30 to 34,6 to 8,yes,two,left,left_low,no,no-recurrence-events
282,50-59,premeno,25 to 29,3 to 5,yes,two,left,left_low,yes,no-recurrence-events
283,30-39,premeno,30 to 34,6 to 8,yes,two,right,right_up,no,no-recurrence-events
284,50-59,premeno,15 to 19,0 to 2,no,two,right,left_low,no,no-recurrence-events
285,50-59,ge40,40 to 44,0 to 2,no,three,left,right_up,no,no-recurrence-events

In [ ]:
from sklearn.model_selection import train_test_split

y = data['class']
x = data.drop('class',axis = 1)
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state = 25,stratify = y)

In [ ]:
from sklearn.naive_bayes import BernoulliNB, GaussianNB

ohe = OneHotEncoder(drop = 'first',sparse_output = False).set_output(transform = 'pandas')
x_train_ohe = ohe.fit_transform(x_train)
x_test_ohe = ohe.transform(x_test)
nb = BernoulliNB()
nb.fit(x_train_ohe,y_train)
y_pred = nb.predict(x_test_ohe)

### sonar

In [18]:
data = pd.read_csv(r"D:\Cases\Sonar\Sonar.csv")

In [19]:
data

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V52,V53,V54,V55,V56,V57,V58,V59,V60,Class
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,0.0187,0.0346,0.0168,0.0177,0.0393,0.1630,0.2028,0.1694,0.2328,0.2684,...,0.0116,0.0098,0.0199,0.0033,0.0101,0.0065,0.0115,0.0193,0.0157,M
204,0.0323,0.0101,0.0298,0.0564,0.0760,0.0958,0.0990,0.1018,0.1030,0.2154,...,0.0061,0.0093,0.0135,0.0063,0.0063,0.0034,0.0032,0.0062,0.0067,M
205,0.0522,0.0437,0.0180,0.0292,0.0351,0.1171,0.1257,0.1178,0.1258,0.2529,...,0.0160,0.0029,0.0051,0.0062,0.0089,0.0140,0.0138,0.0077,0.0031,M
206,0.0303,0.0353,0.0490,0.0608,0.0167,0.1354,0.1465,0.1123,0.1945,0.2354,...,0.0086,0.0046,0.0126,0.0036,0.0035,0.0034,0.0079,0.0036,0.0048,M
207,0.0260,0.0363,0.0136,0.0272,0.0214,0.0338,0.0655,0.1400,0.1843,0.2354,...,0.0146,0.0129,0.0047,0.0039,0.0061,0.0040,0.0036,0.0061,0.0115,M

In [20]:
data.isna().sum()

V1       0
V2       0
V3       0
V4       0
V5       0
        ..
V57      0
V58      0
V59      0
V60      0
Class    0
Length: 61, dtype: int64

In [22]:
y = data['Class']
x = data.drop('Class',axis = 1)
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state = 25,stratify = y)

In [27]:
nb = GaussianN






B()
nb.fit(x_train,y_train)
y_pred = nb.predict(x_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           M       0.64      0.74      0.68        34
           R       0.62      0.52      0.57        29

    accuracy                           0.63        63
   macro avg       0.63      0.63      0.63        63
weighted avg       0.63      0.63      0.63        63

### HR

In [28]:
data = pd.read_csv(r"D:\HR_comma_sep.csv")
data

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.10,0.77,6,247,4,0,1,0,sales,low
3,0.92,0.85,5,259,5,0,1,0,sales,low
4,0.89,1.00,5,224,5,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14990,0.40,0.57,2,151,3,0,1,0,support,low
14991,0.37,0.48,2,160,3,0,1,0,support,low
14992,0.37,0.53,2,143,3,0,1,0,support,low
14993,0.11,0.96,6,280,4,0,1,0,support,low
14994,0.37,0.52,2,158,3,0,1,0,support,low

In [29]:
data.isna().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
Department               0
salary                   0
dtype: int64

In [ ]:
y = data['left']
x = data.drop('left', axis=1)

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state = 25,stratify = y)

In [ ]:
ohe = OneHotEncoder(drop = 'first',sparse_output = False).set_output(transform = 'pandas')
x_train = ohe.fit_transform(x_train)
x_test = ohe.transform(x_test)

In [30]:
# nb = BernoulliNB()
# nb.fit(x_train_ohe,y_train)
# y_pred = nb.predict(x_test_ohe)

In [31]:
data

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department_RandD,Department_accounting,Department_hr,Department_management,Department_marketing,Department_product_mng,Department_sales,Department_support,Department_technical,salary_low,salary_medium
0,0.38,0.53,2,157,3,0,1,0,False,False,False,False,False,False,True,False,False,True,False
1,0.80,0.86,5,262,6,0,1,0,False,False,False,False,False,False,True,False,False,False,True
2,0.10,0.77,6,247,4,0,1,0,False,False,False,False,False,False,True,False,False,True,False
3,0.92,0.85,5,259,5,0,1,0,False,False,False,False,False,False,True,False,False,True,False
4,0.89,1.00,5,224,5,0,1,0,False,False,False,False,False,False,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14990,0.40,0.57,2,151,3,0,1,0,False,False,False,False,False,False,False,True,False,True,False
14991,0.37,0.48,2,160,3,0,1,0,False,False,False,False,False,False,False,True,False,True,False
14992,0.37,0.53,2,143,3,0,1,0,False,False,False,False,False,False,False,True,False,True,False
14993,0.11,0.96,6,280,4,0,1,0,False,False,False,False,False,False,False,True,False,True,False
14994,0.37,0.52,2,158,3,0,1,0,False,False,False,False,False,False,False,True,False,True,False

In [ ]:
nb = GaussianNB()
nb.fit(x_train, y_train)
y_pred = nb.predict(x_test)
print(classification_report(y_test, y_pred))